.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*.DS_Store
.Renviron
.Rprofile
/_freeze
/_manuscript
/_manuscript
*.zip
*_files/
.quarto/
*_files/
_manuscript/
*.log
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*_cache/
/data/derived/tile_768
/data/derived/itenez_tiles
