.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/data
.Renviron
.DS_Store
index_files/.DS_Store
